In [ ]:
import pandas as pd

# 1. Load CSV and set 'Date' as index
df = pd.read_csv("sales-feb-2015.csv", parse_dates=['Date'])
df.set_index('Date', inplace=True)

In [ ]:
# 2. Access 'Units' for Feb 5th at 02:00:00
units_bracket = df['Units']['2015-02-05 02:00:00']
units_loc = df.loc['2015-02-05 02:00:00', 'Units']
print("Units (Bracket):", units_bracket)
print("Units (.loc):", units_loc)

In [ ]:
# 3. New DataFrame with 'Company' and 'Units'
df_company_units = df[['Company', 'Units']]
print(df_company_units.head())

In [ ]:
# 4. Sales data between Feb 3rd and Feb 5th (inclusive)
sales_feb3_5 = df.loc['2015-02-03':'2015-02-05']
print(sales_feb3_5)

In [ ]:
# 5. Slice: first 5 entries
first_5 = df.iloc[:5]
print(first_5)

In [ ]:

# 6. All Hooli entries using .loc
hooli_entries = df.loc[df['Company'] == 'Hooli']
print(hooli_entries)

In [ ]:
# 7. Using .iloc for rows 2-4 and columns 1 and 2
iloc_selection = df.iloc[2:5, 1:3]
print(iloc_selection)

In [ ]:
# 8. Filter: Units > 10
units_gt_10 = df[df['Units'] > 10]
print(units_gt_10)

In [ ]:
# 9. Boolean mask for Software products
software_mask = df['Product'] == 'Software'
software_sales = df[software_mask]
print(software_sales)

In [ ]:
# 10. Product is Hardware OR Units > 15
hardware_or_units_gt15 = df[(df['Product'] == 'Hardware') | (df['Units'] > 15)]
print(hardware_or_units_gt15)

In [ ]:
# 11. Remove NaN values
df_cleaned = df.dropna()
print(df_cleaned)

In [ ]:
# 12. Add 'Revenue' column based on product price
def calculate_revenue(row):
    prices = {'Software': 350, 'Hardware': 425, 'Service': 275}
    return row['Units'] * prices.get(row['Product'], 0)

df['Revenue'] = df.apply(calculate_revenue, axis=1)
print(df[['Product', 'Units', 'Revenue']].head())

In [ ]:
# 13. Add 'DayOfWeek' column
df['DayOfWeek'] = df.index.day_name()
print(df[['DayOfWeek']].head())

In [ ]:
# 14. Apply discount function
def apply_discount(row):
    if row['Units'] >= 20:
        return row['Revenue'] * 0.90  # 10% discount
    elif row['Units'] >= 15:
        return row['Revenue'] * 0.95  # 5% discount
    return row['Revenue']

df['DiscountedRevenue'] = df.apply(apply_discount, axis=1)
print(df[['Units', 'Revenue', 'DiscountedRevenue']].head())

In [ ]:
# 15. Uppercase company names and create CompanyCode
df['CompanyUpper'] = df['Company'].str.upper()
df['CompanyCode'] = df['CompanyUpper'].str[:3]
print(df[['Company', 'CompanyUpper', 'CompanyCode']].head())